$color-organ: #fb811e;
$color-organ-1: #f28000;
$color-white: #fff;
$color-white-1: #def0e2;
$color-white-2: #fdfffc;
$color-white-3: #f4f4f4;
$color-green: #309f49;
$color-green-1: #009f4d;
$color-black: #060606;
$color-black-1: #222;
$color-gray: #707070;
$color-gray-1: #b7b7b7;
