.btn {
  background-color: #fb811e;
  padding: 12px 28px;
  border: 1px solid transparent;
  border-radius: 25px;
  color: $color-white;
  font-weight: 600;
}

.btn:hover {
  background-color: $color-green;
}

#backtotop {
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: $color-white;
  background-color: $color-green-1;
  position: fixed;
  right: 15px;
  bottom: 45px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

#button {
  background-color: transparent;
  font-size: 30px;
  color: white;
  cursor: pointer;
  position: relative;
  top: 4px;
  border-color: transparent;
}
#button:hover {
  color: $color-organ;
}
