.whatwedo {
  background-color: #009f4d;
  position: relative;
  .whatwedo__top {
    position: relative;
    .title h1 {
      color: white;
    }
    p {
      color: white;
      font-size: 1.2rem;
      font-weight: 300;
    }
    .whatwedo__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 12vw;
      font-weight: 600;
      opacity: 0.1;
    }
  }
  .whatwedo__bot {
    .card {
      border-radius: 20px;
      overflow: hidden;
      border: 1px solid $color-green-1;
      img {
        width: 100%;
      }

      .card__content {
        background-color: $color-white;
        padding: 30px 20px;
        p:first-of-type {
          color: $color-green;
          font-weight: 600;
          background-color: $color-white-1;
          display: inline-block;
          border-radius: 15px;
          padding: 5px 20px;
        }
        a {
          display: block;
          color: black;
          font-size: 1.5rem;
          font-weight: 600;
          &:hover {
            text-decoration: none;
            color: $color-green;
          }
        }
        p:last-of-type {
          line-height: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .whatwedo__top {
    h5 {
      font-size: 1.2rem;
    }
    h1 {
      font-size: 2.2rem;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .whatwedo__top {
    h5 {
      font-size: 1.2rem;
    }
    h1 {
      font-size: 2rem;
    }
  }
}
